.book {
    height: 90%;
    width: 40%;
    background: #ffffff7a;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: rotateX(30deg) translateX(-50%);
    -webkit-transform: rotateX(30deg) translateX(-50%);
    -ms-transform: rotateX(30deg) translateX(-50%);
    -o-transform: rotateX(30deg) translateX(-50%);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: left 1.5s ease, transform 1.5s ease;
    -webkit-transition: left 1.5s ease;
    -moz-transition: left 1.5s ease;
    -o-transition: left 1.5s ease;
}

/* 书本位置状态 */
.book-position-left {
    left: 70%;
}

.book-position-right {
    left: 90%;
}

.book-position-center {
    left: 50%;
}

.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.point {
    cursor: pointer;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*每页的公共样式*/
.book-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border: 1px solid #1976D2;
    text-align: center;
    background-color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.book-page.front {
    z-index: 2;
}

.book-page.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.book-page p {
    font-size: 2rem;
    margin-top: 8rem;
    color: #ff6300;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/*首页样式*/
.first-page {
    background-color: #1976D2;
}

/*动画部分*/
/*I'm the home page动画*/
.flip-animation-start {
    animation: flipBook1 3s forwards;
    -moz-animation: flipBook1 3s forwards; /* Firefox */
    -webkit-animation: flipBook1 3s forwards; /* Safari and Chrome */
    -o-animation: flipBook1 3s forwards; /* Opera */
}

.flip-animation-end {
    animation: flipBook2 3s forwards;
    -moz-animation: flipBook2 3s forwards; /* Firefox */
    -webkit-animation: flipBook2 3s forwards; /* Safari and Chrome */
    -o-animation: flipBook2 3s forwards; /* Opera */
}

@keyframes flipBook1 {
    0% {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

/*关闭书页*/
@keyframes flipBook2 {
    0% {
        -webkit-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

/* 翻转后的页面样式 */
.flipped-page {
    transform: translateX(-100%) rotateY(-180deg);
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -ms-transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    z-index: 0;
}